.footer {
  width: 100vw;
  background-color: #0080ff;
  height: 100px;
  display: block;
  position: absolute;
  left: 0px;
  right: auto;
}

.footer-text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
	margin-left: 23%;
	margin-top: 10px;
	margin-right: 5%;
}

.page-icon {
  color: white;
}

#icon-row {
	margin-top: 5%;
	margin-bottom: 0px;
}

#icon-row a {
	margin-left: 16%;
	margin-right: auto;
	font-size: 20px;
}
