<ng-sidebar-container class="navbar">

  <!-- A sidebar -->
  <ng-sidebar class="menu-slide" [(opened)]="_opened" position="end" closeOnClickOutside="true">
    <mat-icon (click)="_toggleSidebar()">arrow_back</mat-icon>
    <p>Sidebar contents</p>
  </ng-sidebar>



  <!-- Page content -->
  <div ng-sidebar-content class="nav-icon">
    <mat-icon *ngIf="!_opened" class="menu-icon" (click)="_toggleSidebar()">menu</mat-icon>
    <div class="container-fluid">
      <div class="container" id="centerpiece">
        <div class="row" class="title">
          <h1>Hi, I'm <span class="detail">Alan.
            </span></h1>
          
        </div>
        <div class="row">
          <h2> I'm a <span class="detail"> Health Sciences</span> student and  <span class="detail">developer</span> in my second year at the University of Waterloo. 
               I recently finished my internship as a Junior Developer at <span class="detail">Hellogbye</span>, a travel startup located in Toronto. 
          </h2>
        </div>
        <!-- <div class="row" id="carousel">
            <h2>Ask me about</h2><app-carousel></app-carousel>
        </div> -->
      </div>
    </div>
    <div class="container" id="arrow-style">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
  </div>




</ng-sidebar-container>
