.centerpiece {
  animation: fadeIn 0.7s ease-in both;
  margin-top: 200px;
}

.card-grid {
  margin-top: 20%;
}

.card-info {
  margin-top: -25%;
  padding-bottom: 7%;
  margin-left: 1%;
}

.menu-icon {
  float: right;
	font-size: 30px;
	color: #0080FF;
}

#experience-header {
  margin-right: auto;
  margin-top: 60%;
}

.experience-title {
  display: inline-block;
}

#carousel {
  width: 170px !important;
  display: inline-block;
  position: relative;
  top: 28px;
  margin-left: 1px;
}


.home-main {
  height: 100%;
}

.split {
  color: #808080;
  font-weight: 400;
}

.split-light {
  color: #808080;
  font-weight: 300;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 500%;
	letter-spacing: 2px;
	color: #212529;
	margin-bottom: 0px;
}

.detail {
	color: #0080FF;
}

.projects-card-desktop {
  margin-bottom: 2%;
  width: 100%;
  height: 400px;
}


.project-pic {
  width: 400px;
  height: auto;
  border-radius: 15px;
}

.description {
  margin-left: 35%;
  margin-top: -3%;
}

.description-text {
  font-family: 'Poppins', sans-serif;
	font-size: 150%;
	letter-spacing: 1px;
	color: #212529;
  font-weight: 300;
}

.chips {
  margin-left: 35%;
  margin-bottom: 0;
}

.chip {
  color: #ffffff;
  background-color: #0080FF;
}

mat-card {
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

mat-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  cursor: pointer;
}

#card-title {
  margin-left: 35%;
  display: inline-block;
  padding-top: 2%;
}

.card-title-text {
  color: #0080FF;
  font-family: 'Poppins', sans-serif;
  font-size: 225%;
  font-weight: 600;
  letter-spacing: 2px;
}

.subtitle {
  color: #212529;
  font-family: 'Poppins', sans-serif;
  font-size: 65%;
  font-weight: 600;
  letter-spacing: 2px;
}

#card-subtitle {
  margin-left: 40%;
  display: inline-block;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 150%;
	letter-spacing: 2px;
	display: block;
	color: #212529;
  letter-spacing: 1px;
  font-weight: 400;
}

@keyframes fadeIn{
	from {
		opacity: 0;
		transform: translate3d(0, -5%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.title {
	white-space: nowrap;
}

// .detail {
// 	color: #ef4056;
// }

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #0080FF;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.arrow {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #0080FF;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#arrow-style {
	padding-left: 45%;
	margin-right: auto;
}

#arrow-style:hover {
  cursor: pointer;
}

h3 {
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #0080FF;
}

.projects-card-mobile {
  width: 100%;
  height: 340px !important;
  margin-left: -20px;
  margin-bottom: 20px;
}

.project-pic-mobile {
  width: 100%;
  height: 225px;
  border-radius: 15px;
}

#card-title-mobile {
  margin-top: 20px;
  margin-left: 15px;
}

app-footer {
  margin-left: -10px;
}

.page-icon {
  color: #0080FF;
}

 #icon-row-main {
  margin-top: 5%;
  margin-bottom: 0px;
}

#icon-row-main a {
	margin-left: 10%;
	margin-right: auto;
	font-size: 30px;
}

#first-icon {
  margin-left: 5px !important;
}

@media (max-width: 575.98px) { 
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 15px;
  }

  #centerpiece {
    margin-top: 50%;
  }

  #arrow-style {
    margin-top: 50%;
  }

  h3 {
    font-size: 20px;
  }

  .experience-title {
    padding-left: 0;
  }

  #carousel {
    display: none;
  }

  #title-line {
    display: none;
  }

  .projects-card-desktop {
    display: none;
  }

  .card-title-text {
    font-size: 20px;
    letter-spacing: 0px;
  }

  .subtitle {
    font-size: 14px;
  }


  .description-text {
    font-size: 14px;
    letter-spacing: 1px;
  }

  .description {
    margin-left: 15px;
  }

  .chip {
    font-size: 12px;
  }

  mat-card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
  }

  #icon-row-main {
    margin-top: 5%;
    margin-bottom: 0px;
  }
  
  #icon-row-main a {
    margin-left: 12%;
    margin-right: auto;
    font-size: 20px;
  }

 }


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .home-main {
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .projects-card-mobile {
    display: none;
  }

  #arrow-style {
    padding-left: 45%;
    margin-right: auto;
    margin-top: 12%;
  }

  .centerpiece {
    margin-top: 150px !important;
  }

  #experience-header {
    margin-top: 20%;
  }

  .experience-title {
    display: inline-block;
    margin-left: 10%;
    margin-top: -100px;
  }




} 