

#centerpiece {
	margin-left: 25%;
	margin-right: auto;
	padding-bottom: 0px !important;
	padding-top: 12%;
	padding-right: 15%;
	animation: fadeIn 0.7s ease-in both;
}

.navbar {
  height: 100vh;
}

.menu-icon {
  float: right;
	font-size: 30px;
	color: #0080FF;
}

.nav-icon {
	margin-right: 5%;
	padding-top: 2%;
}

#carousel {
	width: 130px !important;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 500%;
	letter-spacing: 2px;
	color: #212529;
	margin-bottom: 0px;
}

.detail {
	color: #0080FF;
}

h2 {
	font-family: 'Poppins', sans-serif;
	font-size: 150%;
	letter-spacing: 2px;
	display: block;
	color: #212529;
	letter-spacing: 1px;
	font-weight: 400;
}

@keyframes fadeIn{
	from {
		opacity: 0;
		transform: translate3d(0, -5%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.avatar {
	border-radius: 50%;
	width: 10%;
	height: 10%;
}

.title {
	white-space: nowrap;
}

// .detail {
// 	color: #ef4056;
// }

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #0080FF;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.arrow {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #0080FF;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}

#arrow-style {
	padding-left: 51%;
	margin-right: auto;
	margin-top: 12%;
}

