<div id="full-page">
  <div class="title">
    <div class="arrow-div-left">
      <h1 routerLink="/"> <span class="nav-buttons"><i class="fas fa-long-arrow-alt-left desktop-arrow-left"></i>
          Home</span></h1>
    </div>
    <div class="arrow-div-right">
      <h1 routerLink="/Huddle"><span class="nav-buttons"> Huddle <i
            class="fas fa-long-arrow-alt-right desktop-arrow-right"></i></span></h1>
    </div>
    <h1 class="title-text">
      <i routerLink="/" class="fas fa-chevron-left arrow-left"></i>
      HelloGbye
      <i routerLink="/Huddle" class="fas fa-chevron-right arrow-right"></i></h1>
  </div>
  <img class="hellogbye-img" src="../../assets/hellogbye-info.jpg" />
  <div class="hellogbye-info">
    <h2><span class="info-title">Role: </span> Junior Developer Intern</h2>
    <h2><span class="info-title">Evaluation: </span> Outstanding (Letter of Reference available)</h2>
    <h2><span class="info-title">Technology: </span> JavaScript (Node.js, Angular 2+, d3.js), MongoDB, TypeScript,
      Git, HTML/CSS, Postman</h2>
    <div class="hellogbye-list">
      <h2><span class="info-title">My Tasks: </span></h2>
      <h2 class="list">
        <li class="info-list">
          Developed a logging and querying client using MongoDB and Node.js(TypeScript) to store and query data,
          allowing for a 50% more efficient
          reviewing process.
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Used d3.js algorithms to parse through over 1000 lines of JSON code and produce a data visualizer to view each
          object as a tree network.
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Participated in Sprint meetings and weekly meetings with seniors software developers to ensure on-time
          delivery of software.
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Revised and upgraded 2000+ lines of TypeScript from Ionic 2 to Ionic 4 to be used in a new consumer-based application.
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Wrote Angular directives and components using best practices to be used in the company's client-side applications. 
        </li>
      </h2>
    </div>
  </div>
</div>
