#full-page {
  padding-top: 0px !important;
}

h1 {
  font-size: 200%;
  text-align: center;
  color: #0080FF;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: 0px !important;
  padding-bottom: 15px;
}

.hellogbye-img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.hellogbye-img:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

.title {
  background-color: #cbdaef;
  border-radius: 20px;
  padding-bottom: 5px;
  margin-top: 3%;
}

.subtitle {
  text-align: center;
}

@keyframes fadeIn{
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

h2 {
  font-weight: 500;
  font-size: 130%;
  letter-spacing: 2px;
  font-family: 'Nunito', sans-serif;
}

.info-title {
  color: #0080FF;
  font-size: 110%;
  font-weight: 600;
}

.hellogbye-info {
  margin-top: 50px;
  animation: fadeIn 0.7s ease-in both;
}

.hellogbye-list {
  margin-top: 30px;
}

.arrow-left {
  font-size: 22px;
  margin-right: 15px;
}

.arrow-right {
  font-size: 22px;
  margin-left: 15px;
}

.list {
  font-size: 120%;
}

.nav-buttons {
  font-weight: 400;
  font-size: 20px;
  position: absolute;
  margin-top: 1.5%;
  cursor: pointer;
}

.arrow-div-left {
  cursor: pointer;
  display: inline-block;
  margin-left: 5%;
}

.arrow-div-right {
  cursor: pointer;
  display: inline-block;
  margin-left: 83%;
}

@media (max-width: 575.98px) {

  .nav-buttons {
    display: none;
  }

  .title {
    background-color: white;
  }

  h2 {
    font-size: 85%;
  }

  .list {
    font-size: 85%;
  }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 

  .arrow-left {
    display: none;
  }

  .arrow-right {
    display: none;
  }

  .nav-buttons {
    margin-top: 5%;
    font-size: 50%;
  }

  .arrow-div-right {
    margin-left: 73%;
  }

  .arrow-div-left {
    margin-right: 0px;
  }

  h2 {
    font-size: 85%;
  }

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 

  .arrow-left {
    display: none;
  }

  .arrow-right {
    display: none;
  }

  .nav-buttons {
    margin-top: 4%;
  }

  .arrow-div-right {
    margin-left: 73%;
  }

  .arrow-div-left {
    margin-right: 0px;
  }

  h2 {
    font-size: 90%;
  }

  .list {
    font-size: 90%;
  }

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .arrow-left {
    display: none;
  }

  .arrow-right {
    display: none;
  }

  .nav-buttons {
    margin-top: 2.5%;
  }

  .arrow-div-right {
    margin-left: 77%;
  }

  .arrow-div-left {
    margin-right: 0px;
  }

  h2 {
    font-size: 100% !important;
  }
  
  .list {
    font-size: 100% !important;
  }

 }


 @media (min-width: 1200px) and (max-width: 1475px) {
  .arrow-div-right {
    margin-left: 80%;
  }
  
  .arrow-div-left {
    margin-right: 0px;
  }

  .nav-buttons {
    margin-top: 2%;
  }


}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
  .arrow-left {
    display: none;
   }

  .arrow-right {
    display: none;
  }

  .hellogbye-img {
    width: 55%;
    height: auto;
    margin-left: 23%;
  }

  h1 {
    margin-top: 0px;
    font-size: 200%;
  }

  h2 {
    font-size: 110%;
  }

  .list {
    font-size: 110%;
  }

} 
