<div id="full-page">
  <div class="title">
    <div class="arrow-div-left">
      <h1 routerLink="/about"> <span class="nav-buttons"><i class="fas fa-long-arrow-alt-left desktop-arrow-left"></i>
          About</span></h1>
    </div>
    <div class="arrow-div-right">
      <h1 routerLink="/Huddle"><span class="nav-buttons"> Huddle <i
            class="fas fa-long-arrow-alt-right desktop-arrow-right"></i></span></h1>
    </div>
    <h1 class="title-text">
      <i routerLink="/about" class="fas fa-chevron-left arrow-left"></i>
      HelloGbye
      <i routerLink="/Huddle" class="fas fa-chevron-right arrow-right"></i></h1>
  </div>
  <img class="hellogbye-img" src="../../assets/hellogbye-info.jpg" />
  <div class="hellogbye-info">
    <h2><span class="info-title">Role: </span> Junior Developer Intern</h2>
    <h2><span class="info-title">Evaluation: </span> Outstanding (Letter of Reference available)</h2>
    <h2><span class="info-title">Technology: </span> JavaScript (Node.js, Angular 2+, d3.js), MongoDB, TypeScript,
      Git, HTML/CSS, Postman</h2>
    <div class="hellogbye-list">
      <h2><span class="info-title">My Tasks: </span></h2>
      <h2 class="list">
        <li class="info-list">
          Developed and deployed a full-stack service using Node.js (Express), MongoDB, Angular 7, and Heroku to store,
          query, and display data; reduced length of QA process by 50%
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Designed data models and wrote algorithms in Node,js to parse through 1000+ lines of JSON to display data in
          multiple graph visualizations rendered using d3.js
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Upgraded, migrated, and optimized 2000+ lines of Typescript code within hybrid Ionic application to be used in
          future enterprise projects
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Wrote Angular components (directives, services) using best practices within high-profile client dashboard to
          be used by company stakeholders such as American Express
        </li>
      </h2>
      <h2 class="list">
        <li class="info-list">
          Participated in Sprint meetings with senior engineers to develop proper code practices related to
          sustainability, reusability, and scalability </li>
      </h2>
    </div>
  </div>
</div>
