#about-me-pic-div {
  display: inline-block;
  width: auto;
  text-align: center;
}

#about-me-div-info {
  display: inline-block;
  position: absolute;
  margin-bottom: 40px;
  margin-left: 30px;
  width: auto;
}

.about-me-pic {
  width: 100%;
  height: auto;
  border-radius: 20px;
  text-align: center;
}


h1 {
  color: #0080FF;
}

#back-button {
  font-size: 25px;
  cursor: pointer;
}

.back-button {
  display: inline-block;
}

.fwd-button {
  display: inline-block;
  float: right;
}

.split {
  color: #808080;
  font-weight: 400;
  font-size: 200%;
  font-family: 'Poppins', sans-serif;
}

.split-div {
  display: inline-block;
}

#education {
  margin-top: 25px;
}

.education-div-pic {
  display: inline-block;
  position: absolute;
  margin-top: 40px;
}

.education-pic {
  width: 100%;
  height: auto;
}

.education-title {
  display: inline-block;
  position: relative;
}

.skills {
  margin-top: 50px;
}

.about-me-title {
  margin-bottom: 0px;
}

h4 {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #0080FF;
}


@media (max-width: 575.98px) {

  h1 {
    font-size: 300%;
    text-align: center;
  }

  h2 {
    font-size: 14px;
  }
  
  h3 {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: -5px;
  }

  .education-div-pic {
    display: none;
  }

  .split-div {
    display: none;
  }

}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  h1 {
    margin-top: 0px !important;
    font-size: 400%;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 90%;
    font-weight: 500;
    line-height: 2rem;
  }

  .about-me-pic-mobile {
    display: none;
  }
} 