.example-container {
    width: 500px;
    height: 50%;
    background-color: #ffffff;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .menu-icon {
    font-size: 35px;
    position: relative;
    float: right;
    bottom: 48%;
    margin-left: 70%;
  }

  .back-icon {
    margin-bottom: 10%;
  }