<div id="full-page">
    <div class="title">
      <div class="arrow-div-left">
        <h1 routerLink="/"> <span class="nav-buttons"><i class="fas fa-long-arrow-alt-left desktop-arrow-left"></i> Home</span></h1>
      </div>
      <h1>
        <i routerLink="/HelloGbye" class="fas fa-chevron-left arrow-left"></i>
        Huddle 
        <i routerLink="/" class="fas fa-chevron-right arrow-right"></i></h1>
        <div class="arrow-div-right">
            <h1 routerLink="/"><span class="nav-buttons"> Huddle <i class="fas fa-long-arrow-alt-right desktop-arrow-right"></i></span></h1>
        </div>
    </div>
    <img class="hellogbye-img" src="../../assets/huddle-project.png" />
    <div class="hellogbye-info">
      <h2><span class="info-title">Summary: </span> Huddle is a modern social media application that connects NFL fans while supporting local venues.</h2>
      <h2><span class="info-title">Technologies: </span> React Native, Java (Spring), Google Maps API</h2>
      <div class="hellogbye-list">
        <h2><span class="info-title">My Tasks: </span></h2>
        <h2 class="list">
          <li class="info-list">
            Called HTTP Requests using React Axios Library to display data from Spring backend.
          </li>
        </h2>
        <h2 class="list">
            <li class="info-list">
                Configured login/signup form logic using data binding, lifecycle hooks, and component states.
            </li>
          </h2>
          <h2 class="list">
              <li class="info-list">
                Used Google Maps and React Native API to track and record user location.
              </li>
            </h2>
      </div>
    </div>
    <div class="chip-div">
        <mat-chip-list class="chips">
          <mat-chip class="chip"> View on Github </mat-chip>
        </mat-chip-list>
      </div>
  </div>
  <app-footer></app-footer>